<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <b><h1 style="color:black;" align="center">MET's Hospital Management System</h1></b>
    <form action="/pinfo" method="post">
        <fieldset style="color: red;">
            <legend><b><h2> Add Patient Details</h2></b></legend>
            <div align="center" style="color: black;">
                Patient No. - <input type="text" name="Pno"/><br/><br/>
                Patient Name - <input type="text" name="Pname"/><br/><br/>
                Patient Age - <input type="text" name="PAge"/><br/><br/>
                Patient Mo.Number - <input type="number" name="Pnumber"<br/><br/>
<!--                Patient Status - <input type="" name="Pstatus"/><br/><br/>-->
                <br/><br/>Patient Status - <select name="Pstatus">
                <option>Admit</option>
                <option>Discharge</option>
            </select><br/><br/>
                <input type="submit" value="SUBMIT"/>
            </div>
        </fieldset>
    </form>

</body>
</html>