<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Management</title>
</head>

<body>
    <b><h1>MET Hospital Management system</h1></b>
    <form action="">
        <fieldset style="color: yellow;">
            <legend style="color: red;"><b>Hospital Management</b></legend>
            <div align="center">
                <a href="Addinfo.html"><input type="button" value="ADD NEW Petient"/></a><br/><br/>
                <a href="Search.html"><input type="button" value="All Petient"/></a><br/><br/>
            </div>



        </fieldset>
    </form>
</body>
</html>