<!DOCTYPE html>
<html lang="en">
<head>
    <title>Update Petient</title>
</head>
<body>
<form method="post" action="{{url_for('updatepost',id=entry.Pno)}}">
    <label for="Pno">Sr.No: </label>
    <input type="text" name="Pno" value="{{entry.Pno}}"/>
    <br><br>
    <label for="Pname">Petient Name: </label>
    <input type="text" name="Pname" value="{{entry.Pname}}"/>
    <br/><br>
    <label for="PAge">Petient Age: </label>
    <input type="text" name="PAge" value="{{entry.PAge}}"/>
    <br/><br>
    <label for="Pnumber">Petient Mobile: </label>
    <input type="text" name="Pnumber" value="{{entry.Pnumber}}"/>
    <br/><br>
    <label for="Pstatus">Petient Status: </label>
    <select required name="Pstatus" value="{{entry.Pstatus}}">
        <option >None</option>
        <option >Admited</option>
        <option >Discharged</option>
    </select><be/><br/>
    <input type="submit" name="submit" value="Update">
</form>
</body>
</html>